In [168]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from sklearn.metrics import confusion_matrix, accuracy_score
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [169]:
# training_dataset 
training = pd.read_csv("/kaggle/input/titanic/train.csv")
training.head()


# training.isna().sum()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [170]:
# test_dataset
test = pd.read_csv("/kaggle/input/titanic/test.csv")
test.head()

# test.isna().sum()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [171]:
# data processing to handle the age filling 
training['Title'], test['Title'] = [df.Name.str.extract \
        (' ([A-Za-z]+)\.', expand=False) for df in [training, test]]
training.groupby(['Title', 'Pclass'])['Age'].agg(['mean', 'count'])

                      mean  count
Title    Pclass
Capt     1       70.000000      1
Col      1       58.000000      2
Countess 1       33.000000      1
Don      1       40.000000      1
Dr       1       43.750000      4
         2       38.500000      2
Jonkheer 1       38.000000      1
Lady     1       48.000000      1
Major    1       48.500000      2
Master   1        5.306667      3
         2        2.258889      9
         3        5.350833     24
Miss     1       30.000000     45
         2       22.390625     32
         3       16.123188     69
Mlle     1       24.000000      2
Mme      1       24.000000      1
Mr       1       41.580460     87
         2       32.768293     82
         3       28.724891    229
Mrs      1       40.882353     34
         2       33.682927     41
         3       33.515152     33
Ms       2       28.000000      1
Rev      2       43.166667      6
Sir      1       49.000000      1

In [172]:
training['Age'].fillna(training.groupby('Title')['Age'].transform('mean'), inplace=True)
test['Age'].fillna(test.groupby('Title')['Age'].transform('mean'), inplace=True)
training['Age'].fillna(training['Age'].mean(),inplace=True)
test['Age'].fillna(test["Age"].mean(),inplace=True)

In [173]:
# getting the women and men who survived
women_survival = training.loc[training["Sex"]=="female"]["Survived"]
women_survival_rate_original = sum(women_survival)/len(women_survival)
print(f"The Women survival rate on the ship was {round((women_survival_rate_original*100),3)}%")

The Women survival rate on the ship was 74.204%

In [174]:
men_survival = training.loc[training["Sex"]=="male"]["Survived"]
men_survival_rate_original = sum(men_survival)/len(men_survival)
print(f"The Men survival rate on the ship was {round((men_survival_rate_original*100),3)}%")

The Men survival rate on the ship was 18.891%

In [175]:
# from sklearn.ensemble import RandomForestClassifier
# y = training["Survived"]
# features = ["Pclass", "Sex", "SibSp", "Parch",'Age']
# X = pd.get_dummies(training[features])
# X_test = pd.get_dummies(test[features])
# model = RandomForestClassifier(n_estimators=100, max_depth=4, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)
# print("Your submission was successfully saved!")

In [176]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

y = training["Survived"]
features = ["Pclass", "Sex", "SibSp", "Parch", 'Age']
training['Sex'] = training['Sex'].map({'male': 0, 'female': 1})
test['Sex'] = test['Sex'].map({'male': 0, 'female': 1})
X = training[features].copy()
X_test = test[features].copy()
scaler = StandardScaler()
X[['Pclass', 'SibSp', 'Parch', 'Age']] = scaler.fit_transform(X[['Pclass', 'SibSp', 'Parch', 'Age']])
X_test[['Pclass', 'SibSp', 'Parch', 'Age']] = scaler.transform(X_test[['Pclass', 'SibSp', 'Parch', 'Age']])
model = SVC(kernel='linear', C=1, random_state=1)
model.fit(X, y)

predictions_svm = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission_s.csv', index=False)
print("Your SVM submission was successfully saved!")

Your SVM submission was successfully saved!

In [177]:
from sklearn.metrics import accuracy_score
# fetching the actual output
actual_df = pd.read_csv('/kaggle/input/titanic/gender_submission.csv')
accuracy_score(actual_df['Survived'],predictions_svm)

1.0